<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>

<br/>
<p>Lets put acouple input fields to input some information to send back to the DB!</p>



<%= link_to("Create User",
           :controller => 'main',
           :action => 'sample') %>
<br/>
<% @users.each do |user| %>
  <hr>
  <%= "Email: #{user.email}" %>
  <br/>
  <%= "Password: #{user.password}" %>
  <br/>
  <%= "Created at: #{user.created_at}" %>
  <br/>

<% end %>
<hr>