<h1>Main#sample</h1>
<p>Find me in app/views/main/sample.html.erb</p>


<%= "Message from controller :#{@controller_message}" %>

<%= link_to("Go to Index",
            {:controller => 'main',
             :action => 'index'}) %>